<main class="container" ng-controller="AboutController">
	<div class="jumbotron">
	  <h1>A Netcraft FED Test application</h1>
	  <p>
			<ul>
				<li>* This app was developed using Angular 1.6.4</li>
				<li>* It uses Twitter as it's database and enables searching for users</li>
				<li>* The search is an auto complete type although the results are shown on the side</li>
				<li>* Clicking on a user name will fetch it's latest tweets - you may 'Load More ...'</li>
				<li></li>
				<li>* Developed using jQuery, Bootstrap and Bootswatch (which enables a paper material design)</li>
			</ul>
	  </p>
	</div>
</main>

